<!-- Header -->
<h1 class="header">Search and delete employees</h1>

<!-- Search bar -->
<div class="search-container">
  <span class="search-icon">
    <i class="pi pi-search"></i>
  </span>
  <input type="text" class="search-input" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search by name">
</div>

<!-- Employee List -->
<div class="employee-list-container">
  <div class="card">
    <p-dataView #dv [value]="filteredEmployees" [paginator]="true" [rows]="7" layout="list">
      <ng-template let-employee pTemplate="listItem">
        <div class="p-col-12">
          <div class="employee-item">
            <span class="employee-name">{{ employee.name }}</span>
            <button pButton pRipple type="button" icon="pi pi-trash" class="delete-button" (click)="deleteEmployee(employee)"></button>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
